.login {
  width: 60%;
  margin: auto;
  background-color: #CCCCFF;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.link{
  display: block;
}
.h3{
  padding-top: 20%;
}

@media (max-width: 768px){
  .link{
    display: none;
  }
  .h3{
    padding-top: 0%;
  }
}
