<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-2">
        <img
          class="img-fluid d-none d-md-block"
          src="assets/img/home.jpg"
          alt="Imagem de um calendario em 3D"
        />
        <a
          class="link"
          href="https://br.freepik.com/fotos-vetores-gratis/pictograma"
          >Pictograma psd criado por freepik - br.freepik.com</a
        >
      </div>
      <div class="col-md-6 mb-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
